<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ectothermedia | {{ username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>

    <!-- User Info -->
    <aside class="user">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/ectother_icon.png') }}" alt="Logo">
        </div>
        <div>
            <h2 class="display_name"> @{{ username }}</h2>
            <p class="user_id">ID:#{{uid}}</p>
        </div>
    </aside>

    <!-- Pet profile -->
    <div class="body">
        <div class="top">
            <button class="add" onclick="document.getElementById('addPet').showModal()">+ Add Pet</button>
        </div>

        <div>
            <h2 class="title">Pet Entries</h2>

            <div>
            <!-- jscript for data filling -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                {% for pet in pets %}
                <div class="row">
                    <span class="text">{{ pet[2] }} | {{ pet[4] }} | {{ pet[5] }} | {{ pet[3] }}</span>

                    <form action="{{ url_for('removePet', name=pet[2], species=pet[3]) }}" method="POST">
                        <button type="submit" class="remove">Remove</button>
                    </form>
                </div>
                {% else %}
                <p class="empty">No pet entries found.</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Add Pet Pop-up -->
    <dialog id="addPet" class="popout">
        <form action="/profile/add_pet" method="POST" class="popout_form">
            <h2>New Pet Entry</h2>
            <input type="text" name="name" placeholder="Pet Name" class="input" required>
            <input type="number" name="age" placeholder="Age" class="input" required>
            <select name="gender" class="input">
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
            <input type="text" name="species" placeholder="Species" class="input" required>

            <div class="popout_buttons">
                <button type="submit" class="save">Save Entry</button>
                <button type="button" class="cancel" onclick="this.closest('dialog').close()">Cancel</button>
            </div>
        </form>
    </dialog>

</body>
</html>












